<p>
  Hi <%= @user.email %>,
  please click the link to continue your session:
</p>
 <a href='<%= "http://localhost:4000/challenge?challenge_token=#{@challenge_token}&device_id=#{@device_id}" %>' >click</a>
