<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
  
  </div>
  <div class="col-sm-offset-2 col-sm-4">
      <p>
        Your account is currently in a locked state. Your password was probably exposed. We logged you out of all devices please reset your password before continuing 
      </p>
  </div>
</div>
