<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
  
  </div>
  <div class="col-sm-offset-2 col-sm-4">
      <p>
        Challenge in progress. Please check your email for instructions. Can't find the email? click here to get it resent.
      </p>
  </div>
</div>
