<div class="row">
  <div class="col-sm-12">
    <div style="padding: 40px 15px;" class="text-center">
      <h2>Welcome to the Castle Playground!</h2>
      <p class="lead">
        Sign up and get an account at Castle Playground today. Free forever.
      </p>
      <p>
        <%= link_to 'Sign up', sign_up_path, class: 'btn btn-lg btn-success' %>
      </p>
    </div>
  </div>
</div>
