<div class="row">
  <div class="col-sm-12">
    <div style="padding: 40px 15px;" class="text-center">
      <h2>Welcome to the Castle Playground!</h2>
      <p class="lead">
        Users that log in here is monitored by the <b><a href="https://playground.castle.io" target="_BLANK">Castle demo app</a></b>.<br>Click around here with the demo app open in another window and watch the data appear.
      </p>
      <p>
        <%= link_to 'Sign up', sign_up_path, class: 'btn btn-lg btn-success' %>
      </p>
      <p style="margin-top: 40px;">
        <small>
          Source code of this app is <a href="https://github.com/castle/playground">available on Github</a>.
        </small>
      </p>
    </div>
  </div>
</div>
